{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} 书籍详情{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/bookdetail.css' %}">
    <style>
        .pinglunqu {
            margin-left: 100px;
        }
    </style>
{% endblock %}

{% block content %}
    {% load book_info %}
    <div class="book-author ">
        <div class="book-information-normal">
            <a id="bookImg" class="book-detail-img">
                <img src="/static/img/{{ book.book_icon }}" alt="{{ book.name }}在线阅读"></a>
            <div class="book-info">
                <div class="book-info-top">
                    <h1 class="">{{ book.name }}</h1>
                    <p class="author-name">
                        <span class="writer">{{ book.author.name }}</span>&nbsp; 著 &nbsp;
                        <span>{{ book.state|state }}</span> <span class="dot">·</span> <span>签约</span> <span
                            class="dot">·</span> <span>{{ book.prop|prop }}</span>
                        <span class="dot">·</span>
                        <a href="{% url 'type' book.type %}" title="{{ book.type }}小说">{{ book.type }}</a><span
                            class="dot">·</span>
                        <a href="{% url 'category' book.category %}"
                           title="{{ book.category }}小说">{{ book.category }}</a></p>
                    <p class="intro">更多好看作品，快来瞧瞧吧</p>
                    <a class="latest-chapter" href="">最新章节：敬请期待
                    </a><span class="book-update-time">更新时间 2023-08-22 12:30:00</span>
                    <p class="count"><em>{{ book.word }}</em><cite>字</cite>
                        <em>{{ book.recommend }}</em><cite>总推荐</cite>
                        <em>0</em><cite>周推荐</cite></p></div>
                <div class="all-btn">
                    <p class="normal-btn">
                        <a class="btn btn-default" href="">免费试读 </a><em> </em>
                        <a id="addMybookshelf" class="btn btn-default"> 
                            {% if iscollection %}
                                已在书架
                            {% else %}
                                加入书架
                            {% endif %}
                        </a>
                        <a class="btn btn-default">互动投票</a>
                        <a class="btn btn-default">手机扫码读本书
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <em class="left-line"></em>
        <div class="author-information">
            {#            作者头像#}
            <a href="{% url 'author_detail' book.author.id %}" class="author-img">
                <img src="/static/img/{{ book.author.icon }}" alt="">
                <p class="level-platina">
                    <span>{{ book.author.introduction|level }}</span>
                </p>
            </a>
            <div class="author-intro">
                <div class="hhhhh">
                    {#                    作者名字#}
                    <a href="{% url 'author_detail' book.author.id %}" class="author-name">{{ book.author.name }}</a>
                </div>

                <div class="outer-intro">
                    <div class="icon-left"></div>
                    <p>{{ book.author.introduction }}</p>
                    <div class="icon-right"></div>
                </div>
            </div>
            <div class="work-state">
                <div class="book"><p class="">作品总数</p>
                    <div class="work-number"><em class="icon-left"></em> <em class="color-font-card"
                                                                             style="color: rgb(50, 28, 21);">{{ book.author.book_total }}</em><em
                            class="icon-right"></em></div>
                </div>
                <em class="line"></em>
                <div class="write"><p class="">累计字数</p>   <em class="color-font-card"
                                                                  style="color: rgb(50, 28, 21);">{{ book.author.all_word }}</em>
                </div>
                <em class="line"></em>
                <div class="days"><p class="">创作天数</p><em class="color-font-card"
                                                              style="color: rgb(50, 28, 21);">{{ book.author.start_work }}</em>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-honor-label">
        <div class="intro-honor">
            <div class="intro-detail">
                <div class="title"><h2>作品简介</h2></div>
                <p>
                    {% for foo in book.brief|replace %}
                        {{ foo }}
                        {% if foo in '。?!！】；？' %}
                            <br>
                        {% endif %}
                    {% endfor %}

                    {#                    {{ book.brief|replace}}#}
                    <br>

                </p>
            </div>
        </div>
    </div>
    <hr>
    <hr>
    <a href="{% url 'comment' book.id %}"></a>
    <!-- 发表评论 -->
    <form method="POST" action="{% url 'comment' book.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="content">
                <strong style="margin-left: 650px">
                    我的评论
                </strong>
            </label>
            <div style="margin-left: 200px;height: 300px;width: 1100px">
                {{ comment_form.media }}
                {{ comment_form.content }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary " style="margin-left: 1200px">发送</button>
    </form>

    <!-- 显示评论 -->
    {% load mptt_tags %}
    <div class="pinglunqu">
        <h4>共有{{ comments.count }}条评论</h4>
        <div class="row">
            <!-- 遍历树形结构 -->
            {% recursetree comments %}
                {% with comment=node %}
                    <div class="pinglunqu  {% if comment.reply_to %}
                                    offset-1 col-11
                                    {% else %}
                                    col-12
                                    {% endif %}"
                         id="comment_elem_{{ comment.id }}"
                    >
                        <hr>
                        <p>

                            <strong style="color: #7aefac">
                                {{ comment.user.username }}
                            </strong>

                            <!-- 显示被回复人 -->
                            {% if comment.reply_to %}
                                <i class="far fa-arrow-alt-circle-right"
                                   style="color: cornflowerblue;"
                                >回复</i>
                                <strong style="color: #e80a34">
                                    {{ comment.reply_to.username }}
                                </strong>
                            {% endif %}

                        </p>
                        <div>{{ comment.content|safe }}</div>

                        <div>
                                <span style="color: gray">
                                    {{ comment.created|date:"Y-m-d H:i" }}
                                </span>

                            <!-- 加载 modal 的按钮 -->

                            <button type="button" class="btn btn-light btn-sm text-muted"
                                    onclick="load_modal({{ book.id }}, {{ comment.id }})">
                                回复
                            </button>

                        </div>

                        <!-- Modal -->
                        <div class="modal fade"
                             id="comment_{{ comment.id }}"
                             tabindex="-1"
                             role="dialog"
                             aria-labelledby="CommentModalCenter"
                             aria-hidden="true"
                        >
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content" style="height: 480px">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle" style="margin-left: 300px">
                                            回复 {{ comment.user.username }}：</h5>
                                    </div>
                                    <div class="modal-body" id="modal_body_{{ comment.id }}">

                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if not comment.is_leaf_node %}
                            <div class="children">
                                {{ children }}
                            </div>
                        {% endif %}
                    </div>

                {% endwith %}
            {% endrecursetree %}
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
    $(".django-ckeditor-widget").removeAttr('style');
</script>
    <script>
    $(function () {
            bindClickBtnMybook();
        })
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
    var csrftoken = getCookie('csrftoken');
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

        function bindClickBtnMybook() {
            $('#addMybookshelf').click(function () {
                $.ajax({
                    url: "{% url 'bookshelf' %}", // 等价于 /send/sms/
                    type: "POST",
                    data: "id={{ book.id }}",
                    dataType: "JSON", // 将服务端返回的数据反序列化为字典
                    success: function (res) {console.log(res)
                        // ajax请求发送成功之后，自动执行的函数； res就是后端返回的值
                    }
                })
                location.reload();
            })
        }

        // 加载 modal
        function load_modal(book_id, comment_id) {
            let modal_body = '#modal_body_' + comment_id;
            let modal_id = '#comment_' + comment_id;

            // 加载编辑器
            if ($(modal_body).children().length === 0) {

                let content = '<iframe   src="http://127.0.0.1:8000/reply/' +
                    book_id +
                    '/' +
                    comment_id
                    +'/'+
                    '"  style="width: 100%; height: 360px;"></iframe>';
                {#let content = '<iframe src="http://127.0.0.1:8000/{% url 'reply' %}/" frameborder="0" style="width: 100%; height: 100%;"></iframe>';#}
                console.log(content)
                $(modal_body).append(content);
            }


            $(modal_id).modal('show');
        }


        // 处理二级回复
        function post_reply_and_show_it(new_comment_id) {
            let next_url = "{% url 'book_detail' book.id %}";
            console.log(next_url)
            // 去除 url 尾部 '/' 符号
            next_url = next_url.charAt(next_url.length - 1) == '/' ? next_url.slice(0, -1) : next_url;
            // 刷新并定位到锚点
            {#location.reload();#}

            window.location.replace(next_url + "#comment_elem_" + new_comment_id);
            location.reload();
        }

    </script>
{% endblock %}